VITE_SUPABASE_URL=https://lzhvhtnshunwjpabzsge.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6aHZodG5zaHVud2pwYWJ6c2dlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NjMwNTcsImV4cCI6MjA5MDUzOTA1N30.K7-AxXBGvE2DZsKOrZZm_KZowMlhj8hZ2BO9mSsMhUI
VITE_ADMIN_PASSWORD=admin234$
